html{
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
*, *:after, *:before{
  box-sizing: inherit;
}
ul ,li ,h1 ,h2 ,h3 ,p ,button{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
button{
  background: transparent;
  border:0;
  outline: 0;
}
body{
  max-width: 100%;
  margin: 0 auto;
  overscroll-behavior: none;
  background-image: url('../assets/images/background.jpg');
  background-repeat: no-repeat;
}

.Header {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.Header__nav-list {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Header__nav-item > a{
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-weight: 200;
}

.Header__nav-item {
  margin: 0 1rem;
}

.Main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 6rem;
  margin-bottom: 6rem;
  align-content: center;
}

.Main__banner {
  margin: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Main__banner-img img {
  width: 757.07px;
  height: 475.66px;
}

.Main__banner-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 1rem;
}

.Main__banner-text > h1{
  font-size: 40px;
  font-weight: 200;
  font-style: normal;
  line-height: 60.95px;
  margin-bottom: 90px;
}

.Main__banner-text > div {
  width: 100%;
}

.Main__banner-text > div > h1{
  font-size: 18px;
  font-weight: 200;
  font-style: normal;
  line-height: 60.95px;
  text-align: center;
}

.Main__banner-text span{
  font-weight: bold;
}

.Main__banner-countdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Main__banner-countdown-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 56px;
  border: solid 3px white;
  border-radius: 5px;
}

.Main__banner-countdown-item h1 {
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 37px;
}

.Main__banner-countdown-item h2 {
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 37px;
}

.Main__steps {
  margin-top: 140px;
}

.Main__steps > div {
  display: flex;
  justify-content: space-around;
  background-color: rgba(199, 189, 111, 0.4);
  width: 100%;
  height: 356px;
  padding: 0 10rem;
}

.Main__steps-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
  width: 400px;
}

.Main__steps-item  p {
  font-style: normal;
  font-weight: 200;
  font-size: 19px;
  line-height: 28px;
  margin-left: 10px;
  position: relative;
  top: 20px;
}

.Main__steps-item  span {
  font-weight: 700;
}

.Main__steps-item h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 79px;
  line-height: 102px;
}

.Main__terms {
  position: relative;
  top: -150px;
}

.Main__terms > div {
  color: #333333;
  background-color: #fefefe;
  margin: 0 10rem;
  border-radius: 10px;
  padding: 6rem 2rem;
}

.Main__terms > div > h1{
  text-align: center;
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 50px;
}

.Main__terms-terms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Main__terms-terms h1 {
  color: #C7BD6F;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
}

.Main__terms-terms p{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.Main__terms-terms span {
  font-weight: 700;
}

.Main__terms-terms-item {
  display: flex;
  width: 40%;
  margin: 10px 0px;
}

.Main__terms-terms-item:nth-child(4) {
  height: 100px;
}

.Main__terms-terms-item:nth-child(6) {
  position: relative;
  top: -100px;
}

.Main__terms-terms img {
  width: 46.4px;
  height: 46.4px;
  margin-right: 20px;
}

.Main__terms-terms-item ul {
  margin-left: 15px;
}

.Main__terms-terms-item li {
  list-style: square;
}

.Main__categories {
  background-color: rgba(10, 33, 17, 0.5);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.Main__categories > h1 {
  font-weight: 200;
}

.Main__categories-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.Main__categories-items > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.Main__categories-items > div > img {
  width: 100px;
  height: 100px;
}

.Main__categories-items p  {
  text-align: center;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 22px;
}

.Main__selectors {
  padding: 0 10rem;
  position: relative;
  top: -50px;
}

.Main__selectors > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Main__selectors-item{
  display: flex;
  height: 202px;
  background-color: white;
  margin-bottom: 77px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 5rem;
}

.Main__selectors-item h1 {
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 30px;
}

.Main__selectors-item > div {
  width: 278px;
  height: 68px;
  background-color: #C7BD6F;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -130px;
}

.Main__selectors-item select {
  width: 510px;
  height: 68px;
  background-color: #EFEFEF;
  border-radius: 10px;
  border: none;
  color: #BCBCBC;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 0px 20px;
  outline: none;
  margin-right: 25px;
}

.Main__selectors-item  input {
  width: 510px;
  height: 68px;
  background-color: #EFEFEF;
  border-radius: 10px;
  border: none;
  color: #BCBCBC;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 0px 20px;
  outline: none;
}

Main__selectors-contact{
  width: 330px !important;
}

.Main__selectors-button {
  background-color: #38D430;
  width: 278px;
  height: 68px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 30px;
}

footer {
  background-color: #333333;
  padding: 0rem  5rem 5rem 5rem ;
  width: 100%;
}

.Footer img{
  margin-left: 70%;
  margin-top: 20px;
}

.Footer__container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem;
}

.Footer__container > div {
  margin-right: 70px;
}

.Footer__container a {
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: white;
}



@media screen and (max-width: 1450px) {
  .Main__banner-img img {
    width: 657.07px;
    height: 375.66px;
  }

  .Main__banner-countdown-item {
    margin-right: 1rem;
  }

  .Main__banner-text > h1{
    font-size: 25px;
    font-weight: 200;
    font-style: normal;
    line-height: 40.95px;
    margin-bottom: 60px;
  }

  .Main__steps-item  p {
    font-size: 15px;
    line-height: 18px;
    margin-left: 5px;
  }

  .Main__steps-item {
    width: 250px;
  }

  .Main__terms-terms p{
    font-size: 14px;
    line-height: 19px;
  }

  .Main__terms-terms-item:nth-child(6) {
    top: -115px;
  }

  .Main__selectors-item h1 {
    font-size: 15px;
    line-height: 20px;
  }

  .Main__selectors-item  input {
    width: 310px;
    height: 58px;
    font-size: 14px;
    line-height: 19px;
    padding: 0px 10px;
  }

  .Main__selectors-item  select {
    width: 310px;
    height: 58px;
    font-size: 14px;
    line-height: 19px;
    padding: 0px 10px;
  }

  .Main__selectors-item{
    display: flex;
    height: 150px;
    padding: 0 2rem;
  }

  .Main__selectors-item > div {
    width: 200px;
    height: 58px;
    left: -130px;
  }

  .Header__nav-item > a{
    font-size: 13px;
  }

  .Footer__container a {
    font-size: 15px;
    line-height: 19px;
  }

  .Main__selectors-button {
    background-color: #38D430;
    width: 210px;
    height: 60px;
    font-size: 20px;
    line-height: 25px;
  }

  .Footer__container a {
    font-size: 14px;
    line-height: 19px;
  }
}

@media only screen and (max-width: 780px) {

  body{
    background-image: url('../assets/images/background.jpg');
    background-repeat: repeat;
    background-size: cover;
  }

  .Main__banner {
    flex-wrap: wrap;
    margin: 0 0rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .Main__banner-text {
    margin-top: 20px;
    margin-left: 0rem;
    padding: 0rem 2rem;
  }

  .Main__banner-countdown-item {
    margin-right: 0rem;
  }

  .Main__banner-text > h1{
    font-size: 25px;
    text-align: center;
  }

  .Header__nav {
    overflow: hidden;
  }

  .Header__nav-list{
    display: block;
    position: absolute;
    top: 100px;
    left: 50%;
    border: 1px solid #333333;
    height: auto;
  }

  .Header__nav-item{
    display: block;
    color: white;
  }

  .icon img {
    width: 40px;
    height: 40px;
  }

  .Header__logo > a > img {
    width: 70%;
    height: 35%;
  }

  .Main__banner-img img {
    width: 80%;
    height: 40%;
  }


  .Main__banner-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .Main__steps > div {
    flex-direction: column;
    height: 556px;
    padding: 0rem 3rem 10rem 3rem;
  }

  .Main__steps-item  p {
    font-size: 15px;
    line-height: 14px;
    margin-left: 4px;
    top: 20px;
    text-align: center;
  }

  .Main__steps-item {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding-top: 0px;
  }

  .Main__steps-item h1 {
    text-align: center;
    font-size: 69px;
    line-height: 80px;
  }

  .Main__terms > div {
    color: #333333;
    background-color: #fefefe;
    margin: 0 2rem;
    border-radius: 10px;
    padding: 6rem 2rem;
  }

  .Main__terms-terms {
    flex-direction: column;
    justify-content: center;
  }

  .Main__terms-terms-item:nth-child(6) {
    position: initial;
  }

  .Main__terms-terms-item:nth-child(4) {
    position: initial;
    height: auto;
  }

  .Main__terms-terms-item {
    width: 100%;
    margin: 10px 0px;
  }

  .Main__selectors-item{
    height: auto;
    margin-bottom: 30px;
    flex-direction: column;
    padding: 2rem 2rem;
  }

  .Main__selectors-item > div {
    position: initial;
  }

  .Main__selectors-item  select {
    width: 310px;
    height: 58px;
    font-size: 14px;
    line-height: 19px;
    padding: 0px 10px;
    margin: 20px 0px;
  }

  .Footer__container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
  }

  .Footer__container > div {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .Footer__container a {
    font-size: 9px;
    line-height: 19px;
  }

  .Footer img{
    margin-left: 0px;
    margin-top: 20px;
    width: 60%;
    height: 40%;
  }

  footer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .Main__terms > div > h1{
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 50px;
  }

  .Main__terms-terms p{
    font-size: 14px;
    line-height: 17px;
  }

  .Main__terms-terms img {
    width: 36.4px;
    height: 36.4px;
    margin-right: 20px;
  }

  .Main__categories-items {
    flex-direction: column;
    flex-wrap: nowrap;
  }

}

@media only screen and (max-width: 640px) {

  .Main__banner-countdown {
    flex-direction: column;
  }

  .Main__banner-countdown-item {
    margin-bottom: 1rem;
  }

  .Main__banner-text {
    margin-left: 0rem;
  }

}